version: "3.9"

services:
  fastapi:
    build: ./app
    container_name: fastapi_app
    ports:
      - "8000:8000"

  nginx:
    image: nginx:alpine
    container_name: nginx_proxy
    ports:
      - "8080:80"
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - fastapi
